html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  padding-left: 30%;
  padding-top: 5px;

}

body{
  background-color: aqua;
}

.navbar a {
  float:bottom;
  display: block;
  color: rgb(137, 62, 235);
  text-align: center;
  font-family: sans-serif;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
